
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#display{
    width: 100%;
    padding: 16px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(93, 87, 87);
    color: white;
}
.calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 41, 41);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #817272;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color: rgb(69, 63, 63);
}
button:active{
    background-color: rgb(107, 92, 92);
}
.operator{
    background-color: rgb(92, 167, 202);
}
.operator:hover{
    background-color: rgb(14, 82, 128);
}
.operator:active{
    background-color: rgb(13, 61, 84);
}